<a href="https://colab.research.google.com/github/febrialfiatussaadah/KKASmt1/blob/main/Fungsi_print_Febri_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
harga_telur = 26000

print("Harga telur per 1 kg adalah",harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
5harga_telur = 26000

print("Harga telur per 1 kg adalah" + str(harga_telur))

Harga telur per 1 kg adalah26000

#1 Menampilkan teks bebas

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print('Selamat datang di Python')

Selamat datang di Python

# Variable

In [ ]:
BB = 50
print(BB)

50

In [ ]:
Umur = 16
print(Umur)

16

# Menampilkan teks bebas dan variable

In [ ]:
print(f"Umur saya {Umur} tahun")

Umur saya 16 tahun

In [ ]:
print("Halo" +nama)

Halofebri alfiatus

In [ ]:
nama = "febri alfiatus"

Latihan soal

1. Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel mata_pelajaran_favorit = kode dan kecerdasan Buatan
3. Tampilkan nilai variabel: nilai_nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string,"+",","):"Nilai KKA saya adalah {nilai_nilai_kka} loh"

In [ ]:
print("Nama\t\t: Febri alfiatus sa'adah\nKelas\t\t: XI.1\nNomor absen\t: 17")

Nama		: Febri alfiatus sa'adah
Kelas		: XI.1
Nomor absen	: 17

In [ ]:
print("hari ini saya bahagia belajar bahasa python")

hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "kode dan kecerdasan buatan"

print(mata_pelajaran_favorit)

kode dan kecerdasan buatan

In [ ]:
nilai_KKA= 100

print(nilai_KKA)

100

In [ ]:
nilai_KKA = 100

print(f"nilai KKA saya adalah {nilai_KKA} loh!")

nilai KKA saya adalah 100 loh!

In [ ]:
nilai_KKA = 100

print("nilai KKA saya adalah "+ str(nilai_KKA) + " loh!")

nilai KKA saya adalah 100 loh!

In [ ]:
print('Ja\'far shodiq')

Ja'far shodiq

In [ ]:
print("Ja'far shodiq")

Ja'far shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajanan.\"")

Bu Shinta berkata, "Semua harus menyimak pelajanan."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran"')

Bu Shinta berkata, "Semua harus menyimak pelajaran"

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025")

Lokasi file video karnaval ada di D:\Karnaval 2025

#Parameter Fungsi print

In [ ]:
Tahun   = 2009
Bulan   = "februari"
Tanggal = 20

print(Tanggal,end=" ")
print(Bulan,end=" ")
print(Tahun,end=" ")

20 februari 2009

In [ ]:
Tahun = 2009

Bulan = "februari"

Tanggal =20

print(Tanggal, Bulan, Tahun, sep="/")

20/februari/2009

#Latihann:

#Tanggal-Bulan-Tahun

In [ ]:
Nama_depan = "Febri"

Nama_belakang = "alfiatus"

print(Nama_depan, end=" ")
print(Nama_belakang)

Febri alfiatus

In [ ]:
Nama_depan = "Febri"

Nama_belakang = "alfiatus"

print(Nama_depan, Nama_belakang)

Febri alfiatus

#soal

In [ ]:
print ('Bu shinta berkata,"berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing masing di folder local disk D:\\Jadwal pelajaran\\Kelas XI Semester 1"')
print("\nJadwal Pelajaran Mingguan")
print("=================================")
print("jam\tSenin\t\tSelasa\t\tRabu")
print("jam 1\tMatematika\tBahasa\t\tInformatika")
print("jam 2\tBahasa ing.\tSejarah\t\tMa'rifatullah")
print("jam 3\tInformatika\tOlahraga\tBiologi")

Bu shinta berkata,"berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing masing di folder local disk D:\Jadwal pelajaran\Kelas XI Semester 1"

Jadwal Pelajaran Mingguan
=================================
jam	Senin		Selasa		Rabu
jam 1	Matematika	Bahasa		Informatika
jam 2	Bahasa ing.	Sejarah		Ma'rifatullah
jam 3	Informatika	Olahraga	Biologi

#Fungsi paramenter

In [ ]:
nama_siswa_1 = "favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print(nama_siswa_1,nama_siswa_2,nama_siswa_3, sep="*")

favian*Naufal*Humaira

In [ ]:
print(nama_siswa_1,end="#")
print(nama_siswa_2,end="#")
print(nama_siswa_3)

favian#Naufal#Humaira

In [ ]:
# Tampilkan keluaran berupa:
# Naufal-Favian-Humaira-Favian
# Dengan parameter sep

print(nama_siswa_1,nama_siswa_2,nama_siswa_3,nama_siswa_1,sep="~")

favian~Naufal~Humaira~favian

In [ ]:
print(nama_siswa_2,end="~")
print(nama_siswa_1)


print(nama_siswa_3,end="~")
print(nama_siswa_1)

Naufal~favian
Humaira~favian